@charset "UTF-8";

body{
    background-color: rgb(7, 48, 48);
}
header{
    background-color: black;
    color: white;
    height: 90px;
    margin: 0px;
}
.nominal{
    background-color: aqua;
    color: beige;   
}
nav{
    background-color: brown;
    width: 600px;
    margin-left: 10px;
    box-shadow:1px 1px 2px whitesmoke;

}

nav > a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 30px;
}

nav > a:hover {
    font-size: 18px;
    text-decoration: underline;
    color: yellow;
}

main{
    background-color: black;
    color: white;
    padding: 1px ;
    margin: 10px 6px 10px 6px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px white;
}

article > h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
    margin-bottom: -5px;
    width: auto;
}

footer{
    background-color: black;
    text-align: center;
    border: 3px;
    color: blueviolet;
    padding: 0.2px;
}

footer > p{
    display: none;
}

footer:hover > p{
    display: inline;
    background-color: aliceblue;
    color: black;
    padding: 4px;
    border: double 2px rgb(99, 99, 250);
}

div#bola {
    background-color: aqua;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
div#bola:hover{
    background-color: yellow;
    width: 200px;
    height: 200px;
}


